* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-color: rgb(65, 65, 77);
    margin: 0 10px;
}
/* The header */
h1 {
    color: rgba(225, 117, 228, 0.97);
    text-align: center;
}
/* This is the parent div */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    border: 0cap;
}
/* The child div */
.card-header {
    flex-basis: 32%;
    margin: 10px 0;
    position: relative;
    padding: 10px;
    border: 2px dashed;
    border-color: rgb(206, 206, 206);
    transition: all 0.5s ease-in-out;
    border-radius: 8px;
}
.card-header:hover {
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
}
/* The second header */
h2 {
    color: rgb(219, 133, 222);
    padding-left: 10px;
    border: 2px solid;
    height: 30px;
    align-items: center;
    position: absolute;
    top: -15px;
    width: 94%;
    border-radius: 5px;
    background-color: rgb(61, 61, 69);
    border-color: rgb(161, 165, 169);
}
/* This is the paragraph */
p {
    margin: 15px 0;
    color: rgba(236, 152, 239, 0.956);
}
/* The paragraph for the main header */
.header {
    color: rgba(255, 255, 255, 0.663);
    text-align: center;
}
/* The content inside the second paragraph */
pre {
    color: rgba(255, 255, 255, 0.663);
    padding: 20px;
    border-radius: 10px;
    text-align: start;
    background: rgba(239, 77, 245, 0.6) 100%;
}
/* The footer */
footer {
    font-size: 30px;
    color: rgba(225, 117, 228, 0.97);
    text-align: center;
    font-family: Arial;
}
@media screen and (max-width: 992px){
    .card-header{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .card-header{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .card-header{
        width: 100%;
    }
}